    body {
        height: 100vh;
    }
    
    #title_div {
        height: 40%;
    }
    #title_div h1 {
        text-align: center;
        font-size: 60pt;
        margin: 0;
        font-family: FreeMono, monospace;
    }
    
    #search_div {
        height: 10%;
    }
    
    #highlights_div {
        height: 50%;
    }
    #highlights_div div.square {
        text-align: center;
    }
    .highlights_box {
        display: inline-block;
    }
    
    .square {
        width: 100%;
    }
    .square div {
        height: 0;
        width: 90%;
        padding-bottom: 90%;
    }
    
    .image{
        margin: 10px;
        max-width:500px;
        max-height:100px;
        width: auto;
        height: auto;
    }
    .imageGameDev{
        height: 60px;
        width: 60px;
        float: left;
        
        display: flex;
        justify-content: center;
        overflow: hidden;
        
        margin: 10px;
    }
    
    .childBox{
        padding-bottom: 0 !important;
        margin-bottom: 80px;
    }
    .text_info{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }
    .text_TitleCategory{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        color: darkcyan;
    }
    #game1 
    {
	margin-top:7%;
    }
    #game2
    {
	margin-top:7%;
    }
    #game3 
    {
	margin-top:7%;
    }
